html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  height: 100vh;
  background-image: url(https://m.economictimes.com/thumb/msid-68049123,width-1200,height-900,resizemode-4,imgsize-363392/smoking.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  bakcground-position: center;
  display: flex;

}

.contents {
  border: 5px solid darkslategrey;
  padding: 5rem 7rem;
  margin: auto;
}

h1 {
  font-size: 5vw; 
  color: darkslategrey;
  font-family: Quicksand, serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: auto;
  display: flex;
  justify-content: center;
  
}

p {
  color: white;
  font-family: 'Special Elite', cursive;
  font-size: 2vw;
 
}

.btn {
  border: 1px solid darksalmon;
  background: darkslategray;
  padding: 10px 20px;
  font-size: 2.2vw;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 10px;
  border-radius: 6px;
  text-decoration: none;

}

.btn:hover {
  color: darkslategrey;
  background: white;
  cursor: pointer;
  background: linear-gradient(-180deg, white, darksalmon);
}

.btn:hover:before {
  transition: .5s;
  opacity: .4;
}

.btn:hover:after {
  transition: .5s;
  opacity: 1;
}

.btn:active {
  color: darkslategray;
  background: darksalmon;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 6em;
}

@media (orientation: portrait) {
  h1 {
    font-size: clamp(50px, 7.5vw, 100px);
  }
  p {
    font-size: clamp(20px, 3vw, 40px);
  }
  .btn {
    font-size: clamp(22px, 3.3vw, 44px);
  }
}